@font-face {
    font-family: 'Risque';
    src: url("fonts/Risque/OFL.txt");
}

.welcome {
    background-image: url(images/delanitop.jpg);
    background-repeat: no-repeat;
    height: 1200px;
    color: white;
}

.logo {
    margin-top: 280px;
}

.click {
    margin-top: 300px;
}

.welcome h3 {
    margin-top: 40px;
    font-weight: bold;
}

.welcome p {
    margin-top: 20px;
}
.about {
    margin-bottom: 80px;
}

.us {
    font-weight: 400;
    margin-bottom: 10px;
}

.work {
    font-weight: 500;
}


.services{
    background-image: url(images/delani3.jpg);
    color: white;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 150px;
}
 
.serve{
    font-weight: 550;
}

.portfolio {
    text-align: center;
}

.portfolio h2 {
    margin-bottom: 50px;
}

#one {
    justify-content: space-between;
}

.Contact {
    background-image: url(images/delanifooter.jpg);
    background-size:cover;
    display: cover;
    padding: 10%;
    color: white;
  }
  .Contact h4 {
    margin-top: 30px;
    font-weight: 600px;
  }
  form #contact{
    background-color: rgba(0, 0, 0, 0);
  }

  
  input[type=text] {
    background:transparent;
    color: white;
  }
  textarea[type=text] {
    background:transparent;
    color: white;
  }
  
  .submit{
    position:absolute;
    padding-left: 25%;
  }
}

.foot {
    margin-top: 30px;
}

.copyright {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 60px;
}

p.par-1 {
  display: none;
}

p.par-2{
    display: none;
}

p.par-3{
    display: none;
}


.Hover {
  opacity:0;
  background-color: rgba(255, 255, 255, 0.623);
  position: absolute;
  top:25%;
  bottom:25%;
  left:25%;
  right:25%; 
}
.portfolio-images {
  height: 280px;
  max-width: 280px;
  padding:2px;
  align-items: center;
justify-content: space-evenly;
}
.one{
  padding:2%0px;
  justify-content: space-evenly
}