@font-face {
    font-family: 'Risque';
    src: url("fonts/Risque/OFL.txt");
}

.welcome {
    background-image: url(images/delanitop.jpg);
    background-repeat: no-repeat;
    height: 1200px;
    color: white;
}

.logo {
    margin-top: 280px;
}

.click {
    margin-top: 300px;
}

.welcome h3 {
    margin-top: 40px;
    font-weight: bold;
}

.welcome p {
    margin-top: 20px;
}
.about {
    margin-bottom: 80px;
}

.us {
    font-weight: 400;
    margin-bottom: 10px;
}

.work {
    font-weight: 500;
}


.services{
    background-image: url(images/delani3.jpg);
    color: white;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 150px;
}
 
.serve{
    font-weight: 550;
}

.contact {
    background-image: url(images/delanifooter.jpg);
    background-repeat: no-repeat;
    height: 600px;
    color: white;
    padding: 50px;
    
}

.cont {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    justify-content: center;
}

.name {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 50%;
}

.email {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 50%;
}
textarea {
    margin-top:20px ;
    height: 200px;
    width: 100%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    
}

.foot {
    margin-top: 30px;
}

