@font-face {
    font-family: 'Risque';
    src: url("fonts/Risque/OFL.txt");
}

.welcome {
    background-image: url(images/delanitop.jpg);
    background-repeat: no-repeat;
    height: 1200px;
    color: white;
}

.logo {
    margin-top: 280px;
}

.click {
    margin-top: 250px;
}

.welcome h3 {
    margin-top: 40px;
    font-weight: bold;
}

.welcome p {
    margin-top: 20px;
}
.about {
    margin-bottom: 80px;
}

.about h2 {
  margin-bottom: 30px;
}
.us {
    font-weight: 400px;
    margin-bottom: 10px;
}

.work {
    font-weight: 500;
}


.services{
    background-image: url(images/delani3.jpg);
    color: white;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 100px;
}
 
.serve{
    font-weight: 550;
}

.what h2 {
  margin-top: 40px;
  margin-bottom: 30px;
  
}
.we {
  padding:30px;
}

.portfolio {
    text-align: center;
    justify-content: space-evenly;
}

.portfolio h2 {
    margin-bottom: 50px;
}



.Contact {
    background-image: url(images/delanifooter.jpg);
    background-size:cover;
    display: cover;
    padding: 10%;
    color: white;
  }
  .Contact h4 {
    margin-top: 30px;
    font-weight: 600px;
  }
  form #contact{
    background-color: rgba(0, 0, 0, 0);
  }

  
  input[type=text] {
    background:transparent;
    color: white;
  }
  textarea[type=text] {
    background:transparent;
    color: white;
  }
  
  .submit{
    position:absolute;
    padding-left: 25%;
  }


.foot {
    margin-top: 30px;
}

.copyright {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 60px;
}

p.par-1 {
  display: none;
}

p.par-2{
    display: none;
}

p.par-3{
    display: none;
}


.portfolio {
  border-top: 1px solid grey;
  padding-top: 7%;
  padding-bottom: 5%;
  background-color: inherit;
  color: black;
  font-weight: bold;
}
.port {
  max-width:80%;
}
